@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard-dynamic-subset.css");
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul {
  list-style: none;
}

select,
input,
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
}

body {
  position: relative;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 16px;
  color: #333;
}

h1 {
  margin-bottom: 10px;
  font-size: 42px;
  font-weight: 700;
  color: #333;
}

.dimm_container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
.dimm_container.blur::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.wrap_container {
  position: relative;
  z-index: 100;
  display: block;
  max-width: 1120px;
  margin: 0 auto;
  padding: 40px 80px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.preview_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 540px;
  padding: 20px;
  background-size: cover;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  text-align: center;
}
.preview_container h2 {
  font-size: 56px;
  font-weight: 500;
  color: #fff;
  line-height: 1;
  text-shadow: 2px 2px 4px #999;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.preview_container h3 {
  margin-top: 24px;
  font-size: 28px;
  font-weight: 400;
  color: #fff;
  line-height: 1;
  text-shadow: 1px 1px 3px #999;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.preview_container.black h2 {
  color: #333;
  text-shadow: 1px 1px 3px #666;
}
.preview_container.black h3 {
  color: #333;
  text-shadow: 0px 0px 2px #666;
}

.control_container {
  margin-top: 20px;
}
.control_container dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}
.control_container dl:last-child {
  border-bottom: 0;
}
.control_container dl dt {
  width: 150px;
  margin: 0 10px;
  font-weight: 700;
}
.control_container dl dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 10px;
  text-align: center;
}
.control_container dl input[type=text] {
  width: 100%;
  height: 40px;
  padding: 0 16px;
  border: 1px solid #999;
  border-radius: 8px;
}
.control_container dl button[type=button] {
  width: 100%;
  height: 40px;
  padding: 0 16px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #999;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
.control_container dl button[type=button].button_opt.selected {
  border-color: #69ab7a;
  background: #69ab7a;
  color: #fff;
}
.control_container dl button[type=button].button_init {
  width: 200px;
  height: 50px;
  margin: 0 10px;
  background: #fff;
}
.control_container dl button[type=button].button_download {
  width: 200px;
  height: 50px;
  margin: 0 10px;
  border-color: #ede4e0;
  background: #ede4e0;
}
.control_container dl button[type=button].button_reverse.black {
  border-color: #333;
  background: #333;
  color: #fff;
}